<div class="collection-wrap">
  <a href="{{ product.url }}">
    <div class="product-img">
      <img src="{{ product | image_url }}" alt="{{product.title}}">
    </div>
    <p>{{ product.title }}</p>
    <p class="fw500">{{ product.price | money }}</p>
  </a>
</div>