<section class="cb-contact">
  <div class="cb-back-img-sec cb-top-right"><img src="{{ 'top-right.png' | asset_url }}"></div>
  <div class="cb-back-img-sec cb-top-left"><img src="{{ 'top-left.png' | asset_url }}"></div>
  <div class="cb-back-img-sec cb-bottom-right"><img src="{{ 'bottom-right.png' | asset_url }}"></div>
  <div class="cb-back-img-sec cb-bottom-left"><img src="{{ 'bottom-left.png' | asset_url }}"></div>
  <div class="cb-contact-container cb-text-center">
    <h1 class="cb-heading-ar">Account Login</h1>
    <div class="cb-contact-form account-form">
      {%- form 'reset_customer_password' -%}
        {{ form.errors | default_errors }}

        <div class="password">
          <input
            type="password"
            name="customer[password]"
            id="password">
          <label for="password">Password</label>
        </div>

        <div class="password_confirm">
          <input
            type="password"
            name="customer[password_confirmation]"
            id="password_confirmation">
          <label for="password_confirmation">Confirm password</label>
        </div>

        <button>Reset password</button>
      {%- endform -%}


    </div>

  </div>
</section>