<html>
  <head>
    {{ content_for_header }}
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {{ 'style.scss.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}

    {% section 'community' %}
    {% section 'newsletter' %}
    {% section 'footer' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/url-parse@1.4.3/dist/url-parse.min.js"></script>
    {{ 'scripts.js' | asset_url | script_tag }}
  </body>
</html>